extends layout

block content
  #social.scroll-animate.animate-up
    ul
      li
        a(href="https://github.com/jonesxv", target="blank")
          i.fab.fa-2x.fa-github
      li
        a(href="https://linkedin.com/in/ryan-jones-0b1b6a8b", target="blank")
          i.fab.fa-2x.fa-linkedin
      li
        a(href="https://twitter.com/rynojones", target="blank")
          i.fab.fa-2x.fa-twitter
      li
        a(href="https://www.instagram.com/ryjxv/", target="blank")
          i.fab.fa-2x.fa-instagram
      li
        a(href="https://codepen.io/jonesxv", target="blank")
          i.fab.fa-2x.fa-codepen
  div.intro
    div.info
      .info-intro.scroll-animate.animate-down
        .info-name Hello!
        .info-name-mobile-hi Hi!
        .info-name I'm Ryan Jones
        .info-name-mobile I'm Ryan
        .info-bio 
          span.highlight Technologist
          span.bar  | 
          span.highlight Creative
          span.bar  | 
          span.highlight Full Stack Developer
        .info-bio-desktop I solve problems and develop strong solutions
        .info-bio-desktop I explore new ideas through painting, design, and photo
        .passion-title Passion Projects
        .info-passion
          a(href="#home") Art
          span.bar  | 
          a(href="https://www.behance.net/jonesxv" target="blank") Design
          span.bar  | 
          a(href="https://www.instagram.com/ryjxv" target="blank") Photography
      .border-left
        .info-links.scroll-animate.animate-up
          a(href="#projects") Projects
          a(href="#exp") Experience
          a(href="#about") About
          a(href="#contact") Contact
  .projects#projects
    .projects-title
      h1 Development Projects
    div.card-wrapper
      div.card
        div.img.scroll-animate.animate-right
          img.img(src="/images/dashScreenshot.png", alt="image")
        div.card-info.scroll-animate.animate-left
          div.title
            a(href="https://github.com/jonesxv/skilltest", target="blank")
              i.fab.fa-2x.fa-github
            a(href="http://skilltest20.herokuapp.com", target="blank")
              i.fas.fa-2x.fa-external-link-alt
            span Skill Test
          p.desc A Human Resources management web application for technical recruiters. Recruiter sign up and login to manage technical prospects. Create technical tests and assign to potential prospects. Test takers can take created test with test code and their email. Dashboard shows completed tests and compares all test scores to identify best prospects.
          div.icon-wrapper
            img.icon(src="https://cdn.iconscout.com/icon/free/png-512/heroku-5-569467.png", alt="Heroku")
            img.icon(src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/220px-Postgresql_elephant.svg.png", alt="PostgreSQL")
            img.icon(src="https://cdn-web.studio3t.com/knowledge-base/wp-content/uploads/expressjs-logo.png?x46272", alt="Express")
      
      div.card-switch.scroll-animate
        div.img-switch.scroll-animate.animate-left
          img.img-switch(src="/images/recipefinder.png", alt="image")
        div.card-info-switch.scroll-animate.animate-right
          .title-switch
            span Recipe Finder
            a(href="https://github.com/jonesxv/recipe", target="blank")
              i.fab.fa-2x.fa-github
            a(href="http://clean-side.surge.sh", target="blank")
              i.fas.fa-2x.fa-external-link-alt
          p.desc.desc-switch A web application to search the Spoonacular API for recipes containing ingredients input into search. Users can create an account and login to save recipes found in search. User recipes stored in Firestore.
          div.icon-wrapper-switch
            img.icon-switch(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Firebase_Logo.svg/1280px-Firebase_Logo.svg.png", alt="Firebase")
            img.icon-switch(src="https://cdn-images-1.medium.com/max/1200/1*qqOrP7lca1XW70IzPg9Mmw.png", alt="Surge")
            img.icon-switch(src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/JQuery-Logo.svg/1280px-JQuery-Logo.svg.png", alt="jQuery")
      div.card.scroll-animate
        div.img.scroll-animate.animate-right
          img.img-switch(src="/images/youtube.png", alt="image")
        div.card-info.scroll-animate.animate-left
          .title
            a(href="https://github.com/jonesxv/youtube-app", target="blank")
              i.fab.fa-2x.fa-github
            a(href="#", target="blank")
              i.fas.fa-2x.fa-external-link-alt
            span YouTube Playlist
          p.desc.desc-switch A web application to search the YouTube API for keywords and save videos within a playlist. Users will see the top videos for 5 preset categories on the home page and each video an add button to add to the global playlist.
          div.icon-wrapper
            img.icon(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Firebase_Logo.svg/1280px-Firebase_Logo.svg.png", alt="Firebase")
            img.icon(src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/JQuery-Logo.svg/1280px-JQuery-Logo.svg.png", alt="jQuery")      
  .exp#exp.scroll-animate.animate-up
    .exp-title
      h1 Professional Experience
    .exp-info
      .exp-item
        .exp-line
          span.company Galvanize Software Engineering
          span.date Apr 2019 to Present
        .exp-line
          span.job-title Tech Scholar Student
        ul
      .exp-item
        .exp-line
          span.company Wells Fargo
          span.date Dec 2017 to Apr 2019
        .exp-line
          span.job-title Systems Support Analyst
        ul
      .exp-item
        .exp-line
          span.company United States Air Force
          span.date Aug 2009 to Aug 2018
        .exp-line
          span.job-title Network Technician
        ul
  .about#about.scroll-animate.animate-up
    .about-title
      hr
      h1 About Me
    .about-info
      p Hi, my name is Ryan. I am a Full Stack Developer but I wouldn't describe myself as only that. I have also studied art, served time in the US Air Force, and enjoy competitive sports. My unique background has taken me to where I am and my journey has just begun. I have a passion for learning new technologies and I'm excited for my next opportunites.