extends layout

block content
  div.intro
    div.info
      .info-intro
        div.info-name Ryan Jones
        div.info-title Full Stack Developer
        div.info-bio Hello! My name is Ryan. I am a Full Stack Developer from Phoenix, AZ. 
        .passion-title Passion Projects
        .info-passion
          a(href="#home") Home
          a(href="#home") About
          a(href="#home") Projects
          a(href="#home") Contact
      .info-links
        a(href="#home") Home
        a(href="#home") About
        a(href="#home") Projects
        a(href="#home") Contact
  .skills Skills
  .projects Project
