doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")
  body
    nav.nav 
      i.fas.fa-2x.fa-bars
      #nav-links.info-links.hidden
        a(href="#projects") Projects
        a(href="#skills") Skills
        a(href="#about") About
        a(href="#contact") Contact
    block content
  footer
    script(src='/javascripts/lib/jquery/jquery.min.js')
    script(src='/javascripts/animations.js')
