body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color:#DDD
}

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
#social {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  z-index: 3;
}

#social ul {
  list-style-type: none;
}

#social li {
  padding: 5px;
  transition: .5s;
}

#social li:hover {
  color: black;
}

#social .fa-2x {
  color: rgb(66, 119, 193);
}

#social .fa-2x:hover {
  opacity: .3;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
}


/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/


.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  margin-bottom: 30px;
  z-index: 3;
}

.nav i {
  margin: 1em;
  align-self: flex-end;
  color: rgba(40, 45, 68);
}

.nav #nav-links {
  opacity: 0;
  align-items: flex-end;
  transition: opacity 1s ease-in-out;
}

#nav-links a {
  text-align: end;
}

.show {
  opacity: 1 !important;
}


/*--------------------------------------------------------------
# INTRO
--------------------------------------------------------------*/

.intro {
  background-color: #282D44;
  background-color: rgba(40, 45, 68);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.info {
  width: 90vw;
  height: 90vh;
  color: #DDD;
  display: flex;
}

.info-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 2;
  padding-right: 1em;
  font-size: 2em;
}

.info-name {
  font-size: 3em;
  padding: 0;
  text-align: end;
}

.highlight {
  color: rgb(66, 119, 193);
}
.info-bio {
  text-align: end;
}

.passion-title {
  margin-top: 1em;
  color: rgba(66, 119, 193, 0.653);
}

.info-passion a {
  padding: .2em;
  text-decoration: none;
  font-size: .8em;
  color: #DDD;
}

.info-passion a:hover {
  color: rgb(66, 119, 193);
}

.border-left {
  border-left: 3px solid #DDD;
  height: 50%;
  flex: 1;
  align-self: center;
  display: flex;
  align-items: center;
}

.info-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1em;
  font-size: 3em;
  
}

.info-links a {
  text-decoration: none;
  color: #DDD;
  margin: .2em;
  transition: font-size .5s ease;
}

.info-links a:hover {
  color: rgb(66, 119, 193);
}

/*--------------------------------------------------------------
# ANIMATION
--------------------------------------------------------------*/
.scroll-animate {
  opacity: 0;
}

.animate-up {
  transform: translateY(3em);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
}

.animate-down {
  transform: translateY(-3em);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
}

.animate-right {
  transform: translate(-4em);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
}

.animate-left {
  transform: translate(4em);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
}

.scroll-animate.visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

/*--------------------------------------------------------------
# Project Cards (RIGHT SET)
--------------------------------------------------------------*/

.projects-title {
  text-align: center;
  transition-duration: 1s;
}

#projects {
  padding: 0 15em;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60em;
  height: 30em;
}

.img {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 22em;
  width: 30em;
  object-fit: cover;
  object-position: 0 0;
  filter: grayscale(100%);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
  opacity .3s .25s ease-out, height .5s ease-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.img:hover {
  filter: grayscale(0%);

  height: 25em;
}

.card-info {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 60%;
}

.title {
  margin: 0 1em;
  font-weight: bold;
  text-align: end;
  color: #172A44;
}

.fab, .fas {
  color: rgb(160, 160, 160);
}

.title a {
  margin: 0 .4em;
  font-size: .8em;
}

.title span {
  margin-left: 1em;
  font-size: 2em;
}

.desc {
  padding: 1em;
  color: rgb(222, 222, 222);
  /* background-color: rgba(9, 25, 48, 0.687); */
  background-color: rgba(66, 119, 193, 0.762);
  text-align: end;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  filter: grayscale(100%);
  margin: .3em;
  height: 3em;
}

.icon:hover {
  filter: grayscale(0%);

}

/*--------------------------------------------------------------
# PROJECT CARDS (LEFT SET/SWITCH)
--------------------------------------------------------------*/

.card-switch {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  width: 60em;
  height: 30em;
}

.img-switch {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 22em;
  width: 30em;
  object-fit: cover;
  object-position: 0 0;
  filter: grayscale(100%);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
  opacity .3s .25s ease-out, height .5s ease-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.img-switch:hover {
  filter: grayscale(0%);
  height: 25em;
}

.card-info-switch {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 60%;
}

.title-switch {
  margin: 0 1em;
  font-weight: bold;
  color: #172A44;
}

.title-switch a {
  margin: 0 .4em;
  font-weight: bold;
  font-size: .8em;
}

.title-switch span {
  margin-right: 1em;
  font-size: 2em;
}


.desc-switch {
  text-align: start;
}

.icon-wrapper-switch {
  width: 100%;
  display: flex;
}

.icon-switch {
  filter: grayscale(100%);
  margin: .3em;
  height: 3em;
  transition-duration: .5s;
}

.icon-switch:hover {
  filter: grayscale(0%);
}



.about-title {
  text-align: center;
  transition-duration: 1s;
  width: 100%;
}

#about {
  padding: 0 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-info {
  width: 60em;
}

.about-info p {
  text-align: center;
  font-size: 1.5em;
}


.exp-title {
  text-align: center;
  transition-duration: 1s;
  width: 100%;
}

#exp {
  padding: 0 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exp-info {
  width: 50em;
}

.exp-item {
  padding: 1em 0;
}

.exp-line {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.company {
  font-size: 2em;
}

.date {
  font-size: 1.5em;
}